{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="page-header">
    <h1>{% blocktrans with user.username as username and competition.community.name as community_name %}Welcome, {{username}} to {{community_name}} community!{% endblocktrans %}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% blocktrans with next_match_day.number as match_day %}Match Day {{match_day}}{% endblocktrans %} <small>{% blocktrans with next_match_day.start_date as limit_date %}Limit date: {{limit_date}}{% endblocktrans %}</small></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
          {% for bet in next_match_day_bet_list %}
            <tr class="form-group {% if bet.match.home_goals != None and bet.match.foreign_goals != None and bet.match.home_goals == bet.home_goals and bet.match.foreign_goals == bet.foreign_goals %}success{% endif %}">
              <td style="border: none;"><label for="home_team-bet-id-{{bet.id}}">{{ bet.match.home_team.name }}</label></td>
              <td style="border: none;">{% if bet.match.home_goals != None %}{{bet.match.home_goals}}{% endif %} {% if bet.home_goals != None %}<strong>({{bet.home_goals}})</strong>{% endif %}</td>
              <td style="text-align:center; border: none;">-</td>
              <td style="border: none;">{% if bet.match.foreign_goals != None %}{{bet.match.foreign_goals}}{% endif %} {% if bet.foreign_goals != None %}<strong>({{bet.foreign_goals}})</strong>{% endif %}</td>
              <td style="border: none;"><label for="foreign_team-bet-id-{{bet.id}}">{{ bet.match.foreign_team.name }}</label></td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "General Ranking" %} <small><a href="/userpanel/competition/{{competition.id}}/global-ranking/">{% trans "full ranking" %}</a></small></h3>

        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for item in user_list %}
              <tr>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{forloop.counter}}{% if item.user == user %}</strong>{% endif %}</td>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{item.user.username}}{% if item.user == user %}</strong>{% endif %}</td>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{item.points}}{% if item.user == user %}</strong>{% endif %}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
