{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page-header">
    <h1>Welcome, {{user.username}} to {{competition.community.name}} community!</h1>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Match Day {{next_match_day.number}} <small>Limit date: {{next_match_day.start_date}}</small></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
          {% for bet in next_match_day_bet_list %}
            <tr class="form-group {% if bet.match.home_goals != None and bet.match.foreign_goals != None and bet.match.home_goals == bet.home_goals and bet.match.foreign_goals == bet.foreign_goals %}success{% endif %}">
              <td class="col-xs-3" style="border: none;"><label for="home_team-bet-id-{{bet.id}}">{{ bet.match.home_team.name }}</label></td>
              <td class="col-xs-2" style="border: none;">{% if bet.match.home_goals != None %}{{bet.match.home_goals}}{% endif %} {% if bet.home_goals != None %}<strong>({{bet.home_goals}})</strong>{% endif %}</td>
              <td class="col-xs-1" style="text-align:center; border: none;">-</td>
              <td class="col-xs-2" style="border: none;">{% if bet.match.foreign_goals != None %}{{bet.match.foreign_goals}}{% endif %} {% if bet.foreign_goals != None %}<strong>({{bet.foreign_goals}})</strong>{% endif %}</td>
              <td class="col-xs-3" style="border: none;"><label for="foreign_team-bet-id-{{bet.id}}">{{ bet.match.foreign_team.name }}</label></td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">General Ranking</h3>

        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for item in user_list|dictsort:"points" %}
              <tr>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{forloop.counter}}{% if item.user == user %}</strong>{% endif %}</td>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{item.user.username}}{% if item.user == user %}</strong>{% endif %}</td>
                <td style="border: none;">{% if item.user == user %}<strong>{% endif %}{{item.points}}{% if item.user == user %}</strong>{% endif %}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
