{% extends "core/base.html" %}
{% load staticfiles %}
{% load utils %}
{% load i18n %}
{% load comments %}

{% block content %}
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/userpanel/competition/{{competition.id}}/dashboard/">{{competition.community.name}}</a></li>
      <li><a href="/userpanel/competition/{{competition.id}}/match-days/">{{competition.season.name}}</a></li>
      <li class="active">{% blocktrans with match_day.number as number %}Match day {{number}} - Ranking{% endblocktrans %}</li>
    </ol>
    <h1>{% blocktrans with match_day.number as number %}Match day {{number}}{% endblocktrans %} <small>{% trans "ranking" %}</small></h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>{% trans "Position" %}</th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Points" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in user_point_list|dictsortreversed:"points" %}
        <tr>
          <td></td>
          <td>{% if item.user == user %}<strong>{% endif %}{{forloop.counter}}{% if item.user == user %}</strong>{% endif %}</td>
          <td>{% if item.user == user %}<strong>{% endif %}{{item.user.username}}{% if item.user == user %}</strong>{% endif %}</td>
          <td>{% if item.user == user %}<strong>{% endif %}{{item.points}}{% if item.user == user %}</strong>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if match_day.date_limit_reached %}
    {% for item in user_point_list %}
      {% if not forloop.counter|divisibleby:"2" %}
        <div class="row">
      {% endif %}
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{item.user.username}}</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for match in match_day.match_set.all %}
              {% for bet in item.bets %}
                {% if match.home_team == bet.match.home_team and match.foreign_team == bet.match.foreign_team %}
                <tr class="{% if bet.match.home_goals != None and bet.match.foreign_goals != None and bet.match.home_goals == bet.home_goals and bet.match.foreign_goals == bet.foreign_goals %}success{% endif %}">
                  <td>{{match.home_team.name}}</td>
                  <td>{% if bet.home_goals != None %}{{bet.home_goals}}{% endif %} {% if match.home_goals != None %}<strong>({{match.home_goals}})</strong>{% endif %}</td>
                  <td>-</td>
                  <td>{% if bet.foreign_goals != None %}{{bet.foreign_goals}}{% endif %} {% if match.foreign_goals != None %}<strong>({{match.foreign_goals}})</strong>{% endif %}</td>
                  <td>{{match.foreign_team.name}}</td>
                </tr>
                {% endif %}
              {% empty %}
                <tr>
                  <td>{{match.home_team.name}}</td>
                  <td>{% if match.home_goals != None %}<strong>({{match.home_goals}})</strong>{% endif %}</td>
                  <td>-</td>
                  <td>{% if match.foreign_goals != None %}<strong>({{match.foreign_goals}})</strong>{% endif %}</td>
                  <td>{{match.foreign_team.name}}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if forloop.counter|divisibleby:"2" or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <h3>Comments</h3>

  <div class="row">
    <div class="col-md-12">
      {% get_comment_list for match_day as comment_list %}
      {% for comment in comment_list|dictsortreversed:"submit_date" %}
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{comment.user}} <small>{{comment.submit_date}}</small></h3>
            </div>
            <div class="panel-body">
              {{comment.comment}}
            </div>
          </div>
        </div>
      {% endfor %}

      {% get_comment_form for match_day as comment_form %}
        <form action="{% comment_form_target %}" method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group {% if comment_form.comment.errors %} has-error has-feedback {% endif %}">
            <label for="{{comment_form.username.id_for_label}}" class="col-sm-2 control-label">{{comment_form.comment.label}}</label>
      			<div class="col-sm-10">
      				<textarea class="form-control" id="{{comment_form.comment.id_for_label}}" placeholder="{{comment_form.comment.label}}" name="{{comment_form.comment.html_name}}"></textarea>
      				{% if comment_form.comment.errors %}
      					<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        					<span id="inputError2Status" class="sr-only">(error)</span>
        					<ul>
        						{% for error in comment_form.comment.errors %}
        							<li><span id="helpBlock" class="help-block">{{ error|escape }}</span></li>
        						{% endfor %}
        					<ul>
      				{% endif %}
      			</div>
          </div>
          <input type="hidden" name="next" value="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/ranking/"/>
          <input id="id_content_type" name="content_type" type="hidden" value="core.matchday">
          <input id="id_object_pk" name="object_pk" type="hidden" value="{{match_day.id}}">
          <input id="url" name="url" type="hidden" value="http://foo.com/bar">
          {{comment_form.timestamp}}
          {{comment_form.security_hash}}
          <div class="form-group">
          	<div class="col-sm-offset-2 col-sm-10">
              {% trans "Submit" as submit_button %}
          		<input type="submit" class="btn btn-default" value="{{submit_button}}">
          	</div>
        	</div>
        </form>
    </div>

  </div>

{% endblock %}
