{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/userpanel/competition/{{competition.id}}/dashboard/">{{competition.community.name}}</a></li>
      <li class="active">{{competition.season.name}}</li>
    </ol>
    <h1>{{competition.season.name}}</h1>
  </div>

  <table class="table table-striped">
    {% for match_day in competition.season.matchday_set.all %}
      <tr>
        <td>
        </td>
        <td>
          {% blocktrans with match_day.number as number %}Match day {{number}}{% endblocktrans %}
        </td>
        <td>
          {{match_day.start_date}}
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/"><i class="fa fa-pencil"></i></a>
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/scorers/"><i class="fa fa-futbol-o"></i></a>
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/ranking/"><i class="fa fa-bar-chart"></i></a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
