{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page-header">
    <h1>{{competition.season.name}}</h1>
  </div>

  <table class="table table-striped">
    {% for match_day in competition.season.matchday_set.all %}
      <tr>
        <td>
        </td>
        <td>
          Match day {{match_day.number}}
        </td>
        <td>
          {{match_day.start_date}}
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/"><i class="fa fa-pencil"></i></a>
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/scorers/"><i class="fa fa-futbol-o"></i></a>
        </td>
        <td>
          <a href="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/ranking/"><i class="fa fa-bar-chart"></i></a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
