{% extends "core/base.html" %}
{% load staticfiles %}
{% load utils %}
{% load i18n %}

{% block content %}
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/userpanel/competition/{{competition.id}}/dashboard/">{{competition.community.name}}</a></li>
      <li><a href="/userpanel/competition/{{competition.id}}/match-days/">{{competition.season.name}}</a></li>
      <li class="active">{% blocktrans with match_day.number as number %}Match day {{number}} - Ranking{% endblocktrans %}</li>
    </ol>
    <h1>{% blocktrans with match_day.number as number %}Match day {{number}}{% endblocktrans %} <small>{% trans "ranking" %}</small></h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>{% trans "Position" %}</th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Points" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in user_point_list|dictsortreversed:"points" %}
        <tr>
          <td></td>
          <td>{% if item.user == user %}<strong>{% endif %}{{forloop.counter}}{% if item.user == user %}</strong>{% endif %}</td>
          <td>{% if item.user == user %}<strong>{% endif %}{{item.user.username}}{% if item.user == user %}</strong>{% endif %}</td>
          <td>{% if item.user == user %}<strong>{% endif %}{{item.points}}{% if item.user == user %}</strong>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{user_point_list}}

  {% if match_day.date_limit_reached %}
    {% for item in user_point_list %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{item.user.username}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for match in match_day.match_set.all %}
            {% for bet in item.bets %}
              {% if match.home_team == bet.match.home_team and match.foreing_team == bet.match.foreign_team %}
                <tr>
                  <td>{{match.home_team}}</td>
                  <td>{{match}}</td>
                  <td>-</td>
                  <td></td>
                  <td>{{match.foreing_team}}</td>
                </tr>
              {% endif %}
            {% empty %}
              <tr>
                <td>{{match.home_team.name}}</td>
                <td></td>
                <td>-</td>
                <td></td>
                <td>{{match.foreign_goals}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% endif %}

{% endblock %}
