{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/userpanel/competition/{{competition.id}}/dashboard/">{{competition.community.name}}</a></li>
      <li><a href="/userpanel/competition/{{competition.id}}/match-days/">{{competition.season.name}}</a></li>
      <li class="active">Match day {{match_day.number}} - Scorers</li>
    </ol>
    <h1>Match day {{match_day.number}} <small>Scorers</small></h1>
  </div>
  <form action="/userpanel/competition/{{competition.id}}/match-day/{{match_day.id}}/scorers/" method="post">
    {% csrf_token %}
    <table class="table table-striped">
      <head>
        <th></th>
        <th>Position</th>
        <th>Team</th>
        <th>Player</th>
      </head>
      <body>
        <tr>
          <td></td>
          <td>Defender</td>
          <td>
            <select id="defender-team" onchange="getPlayers(this)">
              <option></option>
              {% for team in team_list %}
                <option value="{{team.id}}">{{team.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="defender-player" name="defender-player">
              <option value="None">Please, select a team.</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Midfield</td>
          <td>
            <select id="midfield-team" onchange="getPlayers(this)">
              <option></option>
              {% for team in team_list %}
                <option value="{{team.id}}">{{team.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="midfield-player" name="midfield-player">
              <option value="None">Please, select a team.</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Forward</td>
          <td>
            <select id="forward-team" onchange="getPlayers(this)">
              <option></option>
              {% for team in team_list %}
                <option value="{{team.id}}">{{team.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="forward-player" name="forward-player">
              <option value="None">Please, select a team.</option>
            </select>
          </td>
        </tr>
        <tr class="form-group">
            <td></td>
            <td></td>
            <td></td>
    		    <td style=""><input type="submit" class="btn btn-default" value="Submit" {% if match_day.date_limit_reached %} disabled {% endif %}></td>
        <tr>
      </body>
    </table>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    {% if goals_bet %}
      {% if goals_teams.defense_team %}
        $("#defender-team").val('{{goals_teams.defense_team}}');
        getPlayers($("#defender-team")[0]);
      {% endif %}

      {% if goals_teams.midfield_team %}
       $("#midfield-team").val('{{goals_teams.midfield_team}}');
       getPlayers($("#midfield-team")[0]);
      {% endif %}

      {% if goals_teams.forward_team %}
       $("#forward-team").val('{{goals_teams.forward_team}}');
       getPlayers($("#forward-team")[0]);
      {% endif %}

    {% endif %}


    function getPlayers(selector) {
      var value = selector.value;
      var position = "";
      var player_selector = "";
      if (selector.id == "defender-team") {
        position = "DF";
        player_selector = "defender-player";
      } else if (selector.id == "midfield-team") {
        position = "MF";
        player_selector = "midfield-player";
      } else if (selector.id == "forward-team") {
        position = "FW";
        player_selector = "forward-player";
      }
      $("#" + player_selector).find('option').remove();
      $.getJSON("/api/team/" + value + "/season/{{competition.season.id}}/player/position/" + position + "/", function(data) {
        $.each(data, function(key, val) {
          $("#" + player_selector).find('option').remove();
          $("#" + player_selector).append($('<option>', {
            value: val["id"],
            text: val["name"]
          }));
        });
      });
    }
  </script>
{% endblock %}
